name: Update EPG Vidio

on:
  schedule:
    - cron: '0 0 * * *' # 07:00 WIB
  workflow_dispatch:

jobs:
  grab-epg:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22'

      - name: Install Dependencies
        run: npm install

      - name: Grab EPG (Vidio)
        run: |
          mkdir -p sites/vidio.com
          npm run grab -- \
            --site=vidio.com \
            --output=sites/vidio.com/vidio.com.tv.xml

      - name: Update Channel List
        run: |
          npm run channels:parse -- \
            --config=./sites/vidio.com/vidio.com.config.js \
            --output=./sites/vidio.com/vidio.com.channels.xml

      - name: Commit and Push changes
        run: |
          git config --global user.name "GitHub Action Bot"
          git config --global user.email "action@github.com"

          git add sites/vidio.com/*.xml

          git diff --cached --quiet || git commit -m "Auto Update EPG Vidio: $(date)"
          git push
